table.example { border-collapse: collapse; margin-bottom: 1em; direction: ltr; }
table.example tr td { padding: 5px 10px 5px 10px; border: 1px solid black; vertical-align: top; }
body[dir=ltr] table.example tr td:first-child { text-align: right; }
body[dir=rtl] table.example tr td:first-child { text-align: left; }

div.indent { margin-left: 20px; }
button.selected { border: 2px solid black; }
button { direction: ltr; }