#tocFrame {
	position: fixed; top: 0; left: 0;
	padding: 50px 0 0 0px;
	width: 22%;
	height: 100%;
}

#docTOC {
	font-family: 'Helvetica Neue',Helvetica,Arial;	
	padding-left: 15px;
	height: 100%; width: 100%;
	overflow: scroll; overflow-x: auto;
}

#docTOC a:hover { text-decoration: none; background: #ffff00; }
#docTOC a { color: black; padding: 5px; }
#docTOC .heading { font-size: 150%; font-weight: bold; margin-top: 11px; }
#docTOC .sub1 { margin-top: 5px; margin-bottom: 10px; line-height: 1.8em; padding-left: 8px; }
#docTOC .sub1 a { font-size: 120%; margin-bottom: 10px; }

#docs {
	font-family: 'Helvetica Neue',Helvetica,Arial;
	font-size: 110%;
	padding: 64px 30px 0 15px;
	position: absolute; top: 0; right: 0;
	width: 78%;
}

.syntaxhighlighter .container:before,
.syntaxhighlighter .container:after {
	display: none;
	content: "";
}

.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea {
	overflow: hidden !important;
}

#tOptions { width: 100%; }
#tOptions tr th { border: 1px solid black; padding: 5px 10px 5px 10px; }
#tOptions tr td { border: 1px solid black; padding: 5px 10px 5px 10px; }