head
  title Pmm
body

template(name='jade_home')
  h1 {{mf 'jade_home_hello_word' 'Hello World!'}}
  | {{greeting}}
  br
  br
  a(href='/about') {{mf 'jade_about_about' 'About'}}

template(name='jade_about')
  h1 #{mf 'jade_about_about' 'About'}
  br
  br
  a(href='/') #{mf 'jade_about_go_back' 'Go back'}
