body {
  padding-top: 50px;
}

div.jumbotron {
	background: url(/images/backdrop.jpg);
	background-size: 100% 100%;
}

div.jumbotron > div.container {
	border-radius: 5px;
	background: rgba(153, 153, 153, 0.65);
	box-shadow: 0px 0px 5px rgba(153,153,153,0.65);
}

div.jumbotron > div.container > p:not(:last-child),
div.jumbotron > div.container > h1 {
	text-shadow: 1px 1px 2px white;
}

body[dir="rtl"] .navbar-header { float: right; }
body[dir="rtl"] .navbar-right { float: left !important; }
body[dir="rtl"] .navbar-nav { float: right; }
body[dir="rtl"] .navbar-nav > li { float: right; }

#login-dropdown-list { left: inherit; right: 0; }
#login-dropdown-list .login-close-text { float: right; }